.containers12 label{
    display: block;
    width: 90%;
    margin: 3% 0% 0% 3%;
    font-size: larger;

}
.billings-page1 img{
    width: 98%;
    position: absolute;
}

.containers12{
    position: relative;

    width: 40%;

    font-size: larger;
    margin: 2% 0% 0% 29% ;
}
.containers12 input{
    width: 100%;
    box-shadow: gray;
    border-radius: 20px;
    font-size: large;
}
.containers12 button{
    padding: 1%;
    margin: 3%;
    font-size: larger;
    width: 160px;
    background-color: #282828;
    color: #cccccc;
    margin-left: 33%;
    border-radius: inherit;
}

.container12 button:hover {
    transform: scale(1.1);
    transition-duration: 0.4s;

}

.containers12 fieldset{
    box-shadow: gray;
    border-style: groove;
    border-radius: 20px;
} 