.about-us {
    max-width: 800px;
    margin: 18px auto;
    padding: 40px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.about-us-header {
    text-align: center;
    margin-bottom: 30px;
}

.about-us-header h1 {
    font-size: 40px;
    font-weight: 700;
    color: #d35400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.about-us-intro {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
}

.about-us-section {
    margin-bottom: 30px;
}

.about-us-section h2 {
    font-size: 24px;
    font-weight: 700;
    color: #d35400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.about-us-section p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
}



.about-us-section li {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 10px;
}

.about-us-section strong {
    font-weight: 700;
    color: #d35400;
}

@media only screen and (max-width: 768px) {
    .about-us {
        padding: 20px;
    }

    .about-us-header h1 {
        font-size: 30px;
    }

    .about-us-intro {
        font-size: 16px;
        line-height: 24px;
    }

    .about-us-section h2 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .about-us-section p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 5px;
    }

    .about-us-section ul {
        margin-left: 20px;
        list-style: disc;
    }

    .about-us-section li {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 5px;
    }
}

.about-us-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 0 0 5px 5px;
}

.about-us-footer p {
    font-size: 16px;
    font-weight: 700;
    color: #555;
    margin-right: 20px;
}

.social-media-icons {
    display: flex;
}

.social-media-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    color: #555;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.social-media-icons a:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.c1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    max-width: 1200px;
    padding: 0 20px;
}

.image1 {
    flex: 0 0 40%;
    margin-right: 40px;
}

.image1 img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.c2 {
    flex: 0 0 55%;
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1 0 50%;
    margin-bottom: 30px;
}

.about h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.about-p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
}
.button-container {
    display: flex;

    margin-top: 20px;
}

.read-more-button {
    background-color: violet;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.cont {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.row1 {
    display: flex;

    justify-content: center;
}

.column1 {
    flex-basis: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.round-image1 {
    width: 200px;
    height: 108px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;

}

.round-image1 img {
    max-width: 100%;
    height: auto;
}

.image-container1 {
    width: 300px;
    height: 111px;
    overflow: hidden;
    margin-bottom: 20px;
}

.image-container1 img {
    max-width: 100%;
    height: auto;
}

.column-content1 {
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
}

a{
    text-decoration:none;
}
