nav {
    background-color: black;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.a1 {
    font-weight: bold;
    font-size: 24px;
    color: #fff;
}

nav li {
    margin-left: 20px;
}

nav li:last-child {
    margin-left: auto;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: #fff;
    color: #f00;
}

nav.page {
    padding: 20px;
}
